/**/.sass-cache
/node_modules
/build/*
!/build/.gitkeep

# os dump files
.DS_Store
Desktop.ini
$RECYCLE.BIN/
Thumbs.db
._*
.Trashes
.Spotlight-V100

/vendor
composer.phar
composer.lock

# copmpiled css from sass and grunt build process
# source css in styles/ folder
/public/css/*
!/public/css/.gitkeep

# copmpiled javascript from grunt build process
# source javascript in scripts/ folder
/public/js/*
!/public/js/.gitkeep



# vim generated .swp files
**/*.swp
